body {
    background: #282c34;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
    Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#logo-image {
    margin-bottom: 30px;
}

.github-link {
    display: block;
    background: url(github.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    overflow: hidden;
    line-height: 200px;
    margin-top: 20px;
}

#meetup-notification-form {
    color: #fff;
    margin: 20px 0;
    text-align: center;
}

#meetup-notification-form input {
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    width: 400px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    #logo-image, #logo-text, #meetup-notification-form {
        width: 80%;
    }

    #meetup-notification-form input {
        width: calc(100% - 20px);
        font-size: 15px;
    }
}